<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Signup</title>

</head>
<body style="background-color:#ecddea";>
   

<h2>Homepage</h2>

<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        &nbsp; &nbsp; &nbsp;
        <li class="nav-item"> 
            <a class="btn btn-primary navbar-btn" type="button" href="{% url 'signup' %}"><span style="color:#142ff9"><h1>REGISTER<h1></h1></span></a>
        </li>
        &nbsp; &nbsp; &nbsp;
        <li class="nav-item"> 
            <a class="btn btn-primary navbar-btn" type="button" href="{% url 'login' %}"><span style="color:#14f942"><h1>Login </h1></span></a>
        </li>
        &nbsp; &nbsp; &nbsp;
    </ul>
</div>

</body>
</html>